* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #555;
}
.box1,
.box2 {
  width: 200px;
  height: 200px;
  font-size: 1.4rem;
  color: #fff;
}
.box1 {
  background: red;
  padding: 20px;
  padding: 20px 40px;
  padding: 20px 40px 60px 80px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  margin: 20px;
  margin: 20px 40px;
  margin: 20px 40px 60px 80px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 100px;
  border: 10px dashed blue;
  border: 10px dotted blue;
  border: 10px solid blue;
  border-top: 20px solid yellow;
  border-bottom: 20px solid green;
  border-left: 50px solid pink;
  border-top: 60px solid skyblue;
  border-radius: 10px;
  border-radius: 100px 0;
  border-radius: 200px 0 0 0;
  border-radius: 50%;
}
.box2 {
  background: rgb(81, 108, 81);
  border-radius: 50%;
  margin: auto;
  box-shadow: 10px 10px 20px #fff, -10px -10px 20px rgb(209, 98, 98),
    10px -10px 20px rgb(237, 147, 20), -10px 10px 20px rgb(43, 33, 154);

  box-shadow: 0 0 30px 10px #fff, inset 0 0 30px 10px orange;
  /* box-shadow: -10px -10px 20px rgb(209, 98, 98);
  box-shadow: 10px -10px 20px rgb(237, 147, 20);
  box-shadow: -10px 10px 20px rgb(43, 33, 154); */
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  color: grey;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 5px 5px 5px rgb(230, 135, 11);
}
